body{
    background-color: rgba(119, 135, 106, 0.767);
    background-image: url(https://i.pinimg.com/736x/20/cc/13/20cc1355bf5c98148a67f4046f215ae3.jpg);
    
}
h1{
    color: rgba(9, 9, 9, 0.947);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    flex: 1;
    text-decoration-line: underline ;
    text-transform: uppercase;
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 100px;
}
form{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    gap: 10px;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #111111;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #a9a3a3;
}
#buttondiv{
    text-align: center;
    margin-top: 100px;
    background-color: rgba(250, 235, 215, 0.584);

}
h3{
    color: rgba(5, 5, 5, 0.996);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
#min-event-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #d3cead9d;
}
