body{
    background-color: rgba(119, 135, 106, 0.767);
    background-image: url(https://i.pinimg.com/736x/20/cc/13/20cc1355bf5c98148a67f4046f215ae3.jpg);
    
}
h1{
    color: rgba(9, 9, 9, 0.947);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    flex: 1;
    text-decoration-line: underline ;
    text-transform: uppercase;
    font-size: 50px;
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 100px;
}
form{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    gap: 10px;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #111111;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #a9a3a3;
}
#buttondiv{
    text-align: center;
    margin-top: 100px;
    background-color: rgba(250, 235, 215, 0.584);
    padding: 50px;
    border: #0c0c0c 3px solid;
    height: 350px;
    width: 300px;
   
}
h3{
    color: rgba(5, 5, 5, 0.996);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
#min-event-container{
    
    margin-top: 100px;
    background-color: #f9eed99d;
    border: 4px solid #0c0c0c;
    padding: 50px;
    height: 350px;
    width: 300px;
    border-radius: 10px;
}
#main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
} 


.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 12px 0;
  width: 100px;
  height: 100px;
  

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  position: relative;
  font-family: Arial, sans-serif;
}
.card button {
  position: absolute;
  top: 25px;
  right: 25px;


  background: #ff4d4d;
  color: rgba(236, 226, 226, 0.744);
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;

  cursor: pointer;
  font-weight: bold;
}

.card button:hover {
  background: #e60000;
}
.card p {
  margin: 0;
  font-size: 14px;
  color: #333;
  position: relative;
    top: 80%;
    margin-top: -60px;
}
#dommanupulation{
    margin-top: 100px;
    background-color: #faecdccc;
    border: 2px solid #0c0c0c;
    padding: 50px;
    height: 50px;
    width: 500px;
    border-radius: 10px;
   align-items: center;
   margin-left: 300px;

}

    
